@font-face {
    font-family: 'RobotoBold';
    font-style: normal;
    font-weight: 700;
    src: url('/Fonts/Roboto-Bold.woff2') format('woff2'),
        url('/Fonts/Roboto-Bold.woff') format('woff');
}

@font-face {
    font-family: 'digital7';
    font-style: normal;
    src: url('/Fonts/digital-7.woff2') format('woff2'),
        url('/Fonts/digital-7.woff') format('woff');
}
